# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
.vscode/
data/
models/
scripts/__pycache__/
scripts/.ipynb_checkpoints/
scripts/*.amltmp
scripts/.amlignore
*.amltmp
.amlignore